<div class="col">
  <div id="image-container">
    <div appImgHelper id="image-wrapper">
      <img [src]="image.main" alt="" />
    </div>
    <ul class="alternates">
      <li appImgHelper *ngFor="let alternate of image.alternates">
        <img [src]="alternate" alt="" />
      </li>
    </ul>
  </div>
</div>
<div class="col">
  <ul class="swatches">
    <li *ngFor="let swatch of getSwatches(); let idx = index;">
      <img [src]="swatch" [alt]="idx+1" (click)="setImage(idx+1)" />
    </li>
  </ul>
</div>