.col {
  float: left;
  width: 33%;
}

ul {
  &.alternates, &.swatches {
    list-style: none;
    padding: 0;

    li {
      cursor: pointer;
      float: left;
      padding: 2px;
    }
  }
}

#image-container {
  img {
    border: 1px lightgray solid;
  }

  #image-wrapper {
    position: relative;
    width: 290px;
    height: 386px;

    img {
      position: absolute;
    }

  }

  ul.alternates {
    li {
      width: 92px;
      height: 122px;

      img {
        position: absolute;
      }

    }

  }

}
