<div class="col">
  <div id="image-container">
    <div appImgHelper id="image-wrapper">
      <img [src]="image.main" alt="" />
      <img [@crossFade]="status"
           (@crossFade.done)="animationDone($event)"
           [src]="copy.main" />
    </div>
    <ul class="alternates">
      <li appImgHelper
          *ngFor="let alternate of image.alternates; let idx = index;"
          (click)="swapImage(idx+1)">
        <img [src]="alternate" alt="" />
        <img [@crossFade]="status" [src]="copy.alternates[idx]" />
      </li>
    </ul>
  </div>
</div>
<div class="col">
  <ul class="swatches">
    <li *ngFor="let swatch of getSwatches(); let idx = index;"
        (click)="setImage(idx+1)">
      <img [src]="swatch" [alt]="idx+1" />
    </li>
  </ul>
</div>